
<h3 class="ui header">My Google Maps Demo</h3>
<div id="map"></div>
<input ng-model="$ctrl.radius"></input>
<button ng-click="$ctrl.doSnapshot($ctrl.stations)">save prices</button>
<station ng-repeat="station in $ctrl.stations" ng-if="station.id === $ctrl.selectedStation.id"></station>
<ui-gmap-google-map center="$ctrl.map.centre" options="$ctrl.options" zoom="$ctrl.map.zoom" events="$ctrl.map.events">
    <ui-gmap-markers models="$ctrl.stations" coords="'location'" icon="'icon'" events="$ctrl.map.markerEvents">

    </ui-gmap-markers>
</ui-gmap-google-map>


<canvas id="line" class="chart chart-line" chart-data="$ctrl.data"
chart-labels="$ctrl.labels" chart-series="$ctrl.series" chart-options="$ctrl.options"
chart-dataset-override="$ctrl.datasetOverride" chart-click="$ctrl.onClick" ng-show="true">
</canvas>
<ui-view></ui-view>